{%extends "layout.html"%}
{% block content %}
    <div class="about" id="about">
        <div class="container">
            <h2 class="special-heading">About</h2>
            <p>Us</p>
            <div class="about-content">                
                <!-- <div class="image">
                    <img src="" alt="img">
                </div> -->
                <div class="text">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum placeat aut blanditiis corrupti quae eaque, reprehenderit provident itaque recusandae, assumenda omnis sint ad cumque aliquam aspernatur hic. Ab, nostrum?</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
