{%extends "layout.html"%}
{% block content %}
    <div class="contact">
        <div class="container">
            <h2 class="special-heading" >Contact</h2>
            <p>Us</p>
            <div class="content" id="contact"> 
                <p class="info">Drop us to line</p>
                <a class="email" href="mailto:@gamil.com?subject=Contact">Name@gmail.com</a>
                <div class="social">
                    Find Us On Social Networks
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fas fa-link"></i>
                </div>
            </div>
        </div> 
    </div>
{% endblock content %}
